@using System.Net.Http;
@using Domain.DTOs;
@using Domain.Extensions;
@inject IConfiguration _configuration;

@page "/FindOkSubmissionsByHack"

<style>
textarea {
        width: 100%;
        height: 200px;
    }
</style>

<div>
    Problem:
</div>

<div>
    <input @bind="_problem"></input>
</div>

<div>
    Input:
</div>

<div>
    <textarea @bind=_input class="width=100%"></textarea>
</div>

<div>
    Output:
</div>

<div>
    <textarea @bind=_output></textarea>
</div>

<div>
    <button @onclick="OnClickFindOkSubmissionsByHack">FindOkSubmissionsByHack</button>
</div>

<div>
    Status: @_status
</div>

@if (_status == Statuses.Done)
{
    @foreach(var submission in _submissions)
    {
        <div>
            <a href="@GetLinkBySubmission(submission)">
                @submission
            </a>
        </div>
    }
}

@code {
    private enum Statuses
    {
        None,
        Wait,
        Done,
    }

    private string _problem;
    private string _input;
    private string _output;
    private Statuses _status;
    private string _cfStatusLink;
    private HttpClient _httpClient;
    private IEnumerable<int> _submissions;

    protected override void OnInitialized()
    {
        _problem = string.Empty;
        _input = string.Empty;
        _output = string.Empty;
        _status = Statuses.None;
        _cfStatusLink = string.Empty;

        _httpClient = new()
            {
                BaseAddress = new(_configuration["ApiUrl"])
            };

        _httpClient.DefaultRequestHeaders.Accept.Add(new("application/json"));
    }

    private async Task OnClickFindOkSubmissionsByHack()
    {
        _status = Statuses.Wait;

        var httpResponseMessage = await _httpClient.PostAsJsonAsync<FindOkSubmissionsByHackDTO>("MoonStone/FindOkSubmissionsByHack", new FindOkSubmissionsByHackDTO
            {
                problem = _problem,
                input = _input,
                output = _output
            });

        _submissions = await httpResponseMessage.Content.ReadFromJsonAsync<IEnumerable<int>>();

        _status = Statuses.Done;
    }

    private string GetLinkBySubmission(int submission)
        => $"https://codeforces.com/contest/{_problem.GetContestId()}/submission/{submission}";
}
